h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  padding: 0;
}
li,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
